* { 
	padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Andika;
}

.wrapper{
	max-width: 100%;
	position: relative;
	height: auto;
}
.wrap-right{
    max-width: 80%;
    height: auto;
    float: right;
    background: white;
}

.wrap-left{
    max-width: 20%;
    height: 100%;
    position: fixed;
    z-index: 100;
    float: left;
    background: #353541;
}	

.logo img{
	width: 100%;
	height: height: auto;
}

.menu{
	width: 100%;
	background: #353541;
	height: auto;

}

.item {
	list-style: none;
	text-decoration: none;
	padding: 10px;
	font-size: 24px;
	color: white;
	border-bottom: 1px solid #282835;
	text-indent: 20px;
}

.hdr{
	width: 100%;
    height: 500px;
}


.sentence-1{
	font-size: 45px;
    position: absolute;
    font-weight: bold;
    color: #ffffff;
    top: 145px;
    left: 40%;
}

.sentence-2{
    position: absolute;
    top: 220px;
    font-size: 15px;
    color: #ffffff;
    left: 42%;
}


.button{
   	font-size: 28px;
    width: 170px;
    height: 60px;
    background: #fb6470;
    text-align: center;
    line-height: 60px;
    border-radius: 8px;
    color: #ffffff;
    position: absolute;
    top: 280px;
    left: 50%;
}

.banner img {
	width: 100%;
	height: 500px;

}
.profile-name{
	position: absolute;
    top: 80%;
    color: white;
    font-size: 22px;
    font-weight: bold;
    left: 8%;
}
.x{
	position: absolute;
    top: 10%;
    font-size: 27px;
    left: 28%;
    color: #fb6470;
}
.logo{
    position: relative;
}













