.gallery img {
    margin: 2px;
    float: left;
}
.gallery img:hover{
	opacity: 0.5;
	transition: 3s;
}
.gallery img {
    width: 320px;
    height: 200px;
    max-width: 310px;
    margin: 12px;
    border: 3px solid;
    border-style: solid;

   
       
    
}
#main-content {
	width: 1040px;
	height: auto;
	float: left;
	margin: center;
	border: 3px solid;
	border-style solid;
	color: green;
	}





