.honda img {
	 
	width: 32.1%;
	height: 300px;
	display: block;
	margin: auto;
	float: left;
	border: 1.18px solid;
	color: red;
	margin: auto;
	padding: 5px;
}
.honda {
	
	width: 1000px;	
}

.honda img:hover {
	opacity: 0.5;
	transition: 2s;
}


.audi img {
	 
	width: 32.1%;
	height: 300px;
	display: block;
	margin: auto;
	float: left;
	border: 1.18px solid;
	color: red;
	margin: auto;
	padding: 5px;
}
.audi {
	
	width: 1000px;	
}

.audi img:hover {
	opacity: 0.5;
	transition: 2s;
}


.ferrari img {
	 
	width: 32.1%;
	height: 300px;
	display: block;
	margin: auto;
	float: left;
	border: 1.18px solid;
	color: red;
	margin: auto;
	padding: 5px;
}
.ferrari {
	
	width: 1000px;
}

.ferrari img:hover {
	opacity: 0.5;
	transition: 2s;
}
.camry img {
	 
	width: 32.1%;
	height: 300px;
	display: block;
	margin: auto;
	float: left;
	border: 1.18px solid;
	color: red;
	margin: auto;
	padding: 5px;
}
.camry {
	
	width: 1000px;
}

.camry img:hover {
	opacity: 0.5;
	transition: 2s;
}
.footer {
	text-align: center;
	font-size: 20px;
	font-style: italic;
}

