#banner img {
		    width: 1046px;
    		height: 300px;

}


#main-menu a {
		font-size: 30px;
		text-decoration: none;
		font-weight: bold;
		font-style: italic;
		margin: 20px;
	}
#main-menu a:hover, #main-menu a.active {
				color: black;
}
#main-menu a.active {
				font-weight: bold;
}
#main-menu {
	text-align: center;
}

.container  {
  max-width: 1000px;
  max-height: 300px;
  display: block; margin-left:auto;margin-right: auto;
  

}
	

