
.wrap {
	max-width: 1000px;
	max-height: 850px;
	background-color: red;
	margin: auto;
	border: 10px brown solid; 
}

.img img {
	width: 800px;
	height: 700px;
	display: block;
	margin: auto;
}
@keyframes title {
    0%  {background-color: #EF7126; color: green;}
    25%  {background-color: #6F3662; color: #FFFFFF;}
    50%  {background-color: #9F6164; color: blue;}
    75%  {background-color: #44B3C2; color: #FFFFFF;}
    100% {background-color: #218C8D; color: #F9E559;}
}
.vien p{
	animation: title 5s ease infinite;
}
	


.cau1 {
	width:100px;
	height: auto;
	font-size: 30px;
	font-style:italic;
	font-weight: bold; 
	position: relative;
	top: -460px;
	left: -20px;
	margin: 20px;
}
.cau1 p {
	padding: 10px;
	border-radius: 50%;
}
.cau2 {
	width:100px;
	height: auto;
	font-size: 30px;
	font-style:italic;
	font-weight: bold; 
	position: relative;
	top: -800px;
    left: 880px;
	margin: 20px;
}
.cau2 p {
	padding: 10px;
	border-radius: 50%;
}
.slogan {
	width: 600px;
	position:relative;
	left: 200px;
	bottom: 350px;
	font-size: 50px;
	text-align: center;
	margin: 10px;
	top: -700px;
}
.slogan p{
	border-radius: 20%;
}
audio {
    position: absolute;
    top: 0px;
    left: 50px;
}
user agent stylesheet
audio:not([controls]) {
    display: none !important;
}
user agent stylesheet
audio {
    width: 300px;
    height: 32px;
}
