* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Andika;
}
ul, li {
    text-align: center;
    list-style-type: none;
    display: block;
}
ul.menu {
    width: 100%;
    padding: 30px;
}
li.menu {
    font-family: Arimo;
    border-right: 2px solid red;
    text-transform: uppercase;
    width: 20%;
    float: left;
    height: 50px;
}
li.menu-foots {
    position: relative;
}
a {
    text-decoration: none;
    color: #59045b;
}
.menu ul li a:hover {
	background: yellow;
	color: #333;
}
.sp a:hover{
    background-color: green;
    color: #333;
}
.sp2 a:hover{
    background-color: green;
    color: #333;
}
.menu ul li >.haisan {
	display: none;
	background:#19ff19; 
}
.menu ul li:hover .haisan {
	display: block;
}
.wellcome {
    margin-bottom: 15px;
    color: #2da08b;
}
h2 {
    text-align: center;
    text-transform: uppercase;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
@keyframes KínhChàoQuýKhách{
 0% { opacity:0; }
}
     
    
h2 span {
    animation: KínhChàoQuýKhách 0.7s ease infinite;
}
.content-intro p {
    font-family: 'Gentium Basic', serif;
    text-indent: 20px;
    text-align: justify;
    line-height: 1.5em;
    word-spacing: 1px;
    margin-bottom: 10px;
}
.banner-intro img {
    width: 100%;
}
#intro {
    padding: 10px 5px;
    width: 100%;
    border-bottom: 5px solid violet;
}
#footer {
    width: 100%;
    margin-top: 10px;
}
.contact {
    width: 100%;
    border-bottom: 5px solid green;
}
.sp {
    width: 30%;
    float: left;
    padding: 10px;
}
#footer h3 {
    margin-bottom: 5px;
    text-decoration: underline;
    color: red;
}
.hotline {
    font-weight: bold;
    color: blue;
}
#footer a {
    font-weight: bolder;
    padding-top: 4px;
    padding-bottom: 4px;
    color: black;
    display: block;
}
h2 {
    padding: 10px;
    background-color: #93f9b8;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    color: #451231;
}
#info-about p {
    text-indent: 10px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
h4 {
    padding: 10px;
    background-color: #93f9b8;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    color: #451231;
}
p {
    text-align: justify;
    margin-bottom: 5px;
    text-indent: 10px;
}
.haisan1 h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 5px;
    text-align: left;
    text-transform: uppercase;
    color: red;
}
.each-foot {
    text-align: center;
    padding: 5px;
    width: 33.333333%;
    float: left;
}
.image-foot {
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 5px;
}
span {
    display: block;
}
.image-foot img {
    height: 200px;
}
.each-foot img:hover {
    transform: scale(1.1);
    border-radius: 5px;
    transition: transform 0.5s linear;
}